<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content= 'width=device-width, initial-scale=1.0'>
        <title>Document</title>
    </head>
    <body>
        <img src = 'https://pbs.twimg.com/profile_images/1243806677608083456/dgTUsgBf.jpg'>
        {% if current_user.is_authenticated %}
        <h1>Hello {{ current_user.username }}!</h1>
        {% endif %}
        <h1>Todos</h1>


        <form method= ['POST', 'GET']>
        {{ template_form.hidden_tag() }}
        {% for todo in todos %}
            <li>{{ todo.todo_text }} &emsp;<a href = "{{url_for('remove_item', id = todo.id)}}">Remove</a>  
            </li>
        {% endfor %}
        </form>    
        <form method='POST'>
            {{ template_form.hidden_tag() }}
            <P>
                {{ template_form.todo.label }}
                {{ template_form.todo() }}
            </P>
            <p>
                {{ template_form.submit() }}
                {{get_flashed_messages()}}
            </p>
        </form>


        <p>Current Users <a href="{{ url_for('UserList') }}">User List</a></p>
    {% if not current_user.is_authenticated %}      
    <form method="POST" name="login">
        <a href="{{ url_for('login') }}"><h1 style="color:red">Sign In</h1></a>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    {% endif %} 
    {% if current_user.is_authenticated %} 
    <a href= "{{ url_for('logout') }}"><h1 style="color:red">Log Out</a></h1>
    {% endif %} 

    </form>
    </body>
</html>
